<%- include('cdn/cdn'); -%>
<%- include('templates/header'); -%>
<main class="container mr-0 mt-3 mb-3 p-0 d-flex flex-direction-column; justify-content-between;" style="height: calc(100vh - 168px); overflow-y: auto;">
    <div class="container align-items-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-between g-3">
          <% libraryDB.books.forEach(function(book){ %>
            <%- include('templates/book-card', {book}); %>
          <% }); %>
        </div>
      </div>
</main>
<%- include('templates/footer'); -%>
