<%- include('../cdn/cdn'); -%>
  <style>
    .card_small {
      max-width: 428px;
    }

    .card-text_small {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      line-height: 1.2rem;
      height: 6rem;

    }
  </style>
  <%- include('../templates/header', {edit: false}); -%>
    <title>Книги</title>
    <main class="container mr-0 mt-3 mb-3 p-0 d-flex flex-direction-column; justify-content-between;"
      style="height: calc(100vh - 168px); overflow-y: auto;">
      <div class="container align-items-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-between g-3">
          <% libraryDB.books.forEach((book)=> { %>
            <%- include('../templates/book-card', {book}); %>
              <% }); %>
        </div>
      </div>
    </main>
    <%- include('../templates/footer'); -%>