<%- include('../html/html-start.ejs'); -%>
<%- include('../templates/header', {edit: false}); -%>
    <main class="container mr-0 mt-3 mb-3 p-0 d-flex flex-direction-column; justify-content-between;"
    style="height: calc(100vh - 168px); overflow-y: auto;"
    >
        <div class="container align-items-center">
            <h1 class="h1 mb-4" style="text-align: center;">Страница не найдена</h1>
            <p class="h4 mb-4" style="text-align: center;">Ошибка 404</h1>
        </div>
    </main>
<%- include('../templates/footer'); -%>
<%- include('../html/html-end.ejs'); -%>